<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>706143392343-8rec6aalbo06cje64pemt9jgv73sbh54.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.706143392343-8rec6aalbo06cje64pemt9jgv73sbh54</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>706143392343-8lfi8rjudk0u2jae6p7o5a6k6sidfpsc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA4eX5EdrBCLwTtQQ0eTZ8QOrJ10_gscdY</string>
	<key>GCM_SENDER_ID</key>
	<string>706143392343</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chaty</string>
	<key>PROJECT_ID</key>
	<string>chaty-dev909</string>
	<key>STORAGE_BUCKET</key>
	<string>chaty-dev909.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:706143392343:ios:fad91b134c85c76e5f0912</string>
	<key>DATABASE_URL</key>
	<string>https://chaty-dev909-default-rtdb.firebaseio.com</string>
</dict>
</plist>